{% extends 'editor.html' %}
{% block title %} Inicio {% endblock %}
{% block styles %}
<link rel="stylesheet" href="/media/css/inicio.css">
{% endblock %}
{% block scripts %}{% endblock %}
{% block area %} Inicio{% endblock %}
{% block content %} 
<div class="col">
	<h3>Dia</h3>
	<ul>
		<li>
			<span class="category">SELECCION</span>
			<img src="/media/uploads/posts/images/p1.jpg" alt="">
			<span class="title">Alguna Publicación</span>
		</li>
		<li>
			<span class="category">SELECCION</span>
			<img src="/media/uploads/posts/images/p1.jpg" alt="">
			<span class="title">Alguna Publicación</span>
		</li>
		<li>
			<span class="category">SELECCION</span>
			<img src="/media/uploads/posts/images/p1.jpg" alt="">
			<span class="title">Alguna Publicación</span>
		</li>
		<li>
			<span class="category">SELECCION</span>
			<img src="/media/uploads/posts/images/p1.jpg" alt="">
			<span class="title">Alguna Publicación</span>
		</li>
	</ul>
</div>
<div class="col">
	<h3>Semana</h3>
	<ul>
		<li>
			<span class="category">SELECCION</span>
			<img src="/media/uploads/posts/images/p1.jpg" alt="">
			<span class="title">Alguna Publicación</span>
		</li>
		<li>
			<span class="category">SELECCION</span>
			<img src="/media/uploads/posts/images/p1.jpg" alt="">
			<span class="title">Alguna Publicación</span>
		</li>
		<li>
			<span class="category">SELECCION</span>
			<img src="/media/uploads/posts/images/p1.jpg" alt="">
			<span class="title">Alguna Publicación</span>
		</li>
		<li>
			<span class="category">SELECCION</span>
			<img src="/media/uploads/posts/images/p1.jpg" alt="">
			<span class="title">Lorem ipsum dolor sit amet, consectetur adipisicing .</span>
		</li>
	</ul>
</div>
<div class="col">
	<h3>Mes</h3>
	<ul>
		<li>
			<span class="category">SELECCION</span>
			<img src="/media/uploads/posts/images/p1.jpg" alt="">
			<span class="title">Alguna Publicación</span>
		</li>
		<li>
			<span class="category">SELECCION</span>
			<img src="/media/uploads/posts/images/p1.jpg" alt="">
			<span class="title">Alguna Publicación</span>
		</li>
		<li>
			<span class="category">SELECCION</span>
			<img src="/media/uploads/posts/images/p1.jpg" alt="">
			<span class="title">Alguna Publicación</span>
		</li>
		<li>
			<span class="category">SELECCION</span>
				<span class="title">Alguna Publicación</span>
				<img src="/media/uploads/posts/images/p1.jpg" alt="">
		</li>
	</ul>
</div>
{% endblock %}