<!DOCTYPE html>
<html>
<head>
	<title>FINISH</title>
	<meta charset='utf-8'>

<!-- ======================================== CSS  ======================================== -->
<link rel="stylesheet" type="text/css" href="css/normalize.css">
<link rel="stylesheet" type="text/css" href="css/fonts.css">
<link rel="stylesheet" type="text/css" href="css/layout.css">
<link rel="stylesheet" type="text/css" href="css/style.css">

<!-- ======================================== JAVASCRIPT ======================================== -->
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/underscore.js"></script>
<script type="text/javascript" src="js/backbone.js"></script>
<script type="text/javascript" src="js/base.js"></script>

<!--   +++++++++++++++++++++++++++++++++++++++    CSS  +++++++++++++++++++++++++++++++++++++++    -->
</head>
<body>
	<header>
		<div id="menu">
			<div id="logo"></div>
			<nav>
				<ul id="nav-bar">
					<a href=""><li>INICIO</li></a>
					<a href=""><li>LPFB</li></a>
					<a href=""><li>SELECCIÓN</li></a>
					<a href=""><li>OPINION</li></a>
					<a href=""><li>INTERNACIONAL</li></a>
					<a href=""><li>MULTIMEDIA</li></a>
					<a href=""><li>CONTACTO</li></a>
				</ul>
			</nav>
		</div>
		<div id="teams">
			<ul id="nav-teams">
				<a href=""><li><img src="" /><span></span></li></a>
				<a href=""><li><img src="" /><span></span></li></a>
				<a href=""><li><img src="" /><span></span></li></a>
				<a href=""><li><img src="" /><span></span></li></a>
				<a href=""><li><img src="" /><span></span></li></a>
				<a href=""><li><img src="" /><span></span></li></a>
				<a href=""><li><img src="" /><span></span></li></a>
			</ul>
		</div>
	</header>
	<section id="principal">
		<div id="lasts-recents">
			<article>
				<span class="category">Selección</span>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
				<span class="date">13 de Abril de 2013</span>
				<a class="link">Ver mas</a>
			</article>
		</div>
		<div id="main-new">
			<figure>
				<img src="images/gol.jpg" />
				<figcaption>
					<span class="category">Categoría</span>
					<span class="title">Un Gol perdido</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolo.</p>
				</figcaption>
			</figure>
		</div>
		<div id="lasts-post">
			<div id="lasts">
				<article>
					<img src="" />
					<span class="category">Selección</span>
					<span class="date">13 de Abril de 2013</span>
				</article>
			</div>
			<div id="recents">
				<article>
					<img src="" />
					<span class="category">Selección</span>
					<span class="date">13 de Abril de 2013</span>
				</article>
			</div>
		</div>
	</section>
	<section id="contenido">
		<div id="posts">
			<article class="post">
				<figure>
					<img src="images/gol.jpg" />
					<figcaption>
						<span class="category">Categoría</span>
						<span class="title">Un Gol perdido</span>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolo.</p>
					</figcaption>
				</figure>
			</article>

			<article class="mini-post">
				<span class="category">Categoría</span>
				<span class="title">Un Gol perdido</span>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolo.</p>
			</article>
			<article class="post-rect">
			</article>
		</div>
		<div id="ads">

		</div>
	</section>
	<section id="multimedia">
		<article class="media"></article>
		<article class="media"></article>
		<article class="media"></article>
		<article class="sponsors"></article>
	</section>
	<footer>
		
	</footer>


</body>
</html>