/*-------------------------------------------------------------------- 
							CONFIGURATION
----------------------------------------------------------------------*/
*{
	margin: 0;
	padding: 0;	
}

a{
	text-decoration: none !important;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
html, body{
	height: auto;padding: 0;
	width: 100%;
	font-family: 'Open Sans';
	background-image: url(../images/patterns/txt.jpg);
}
.left{ float: left; } .right{ float: right; }
p{
	display: none;
}

/* .............................. CABECERA .............................. */
body header{
	/*background-image: url(../images/patterns/footer.jpg); */
	background: #596a72; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #596a72 0%, #cedce7 50%, #596a72 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#596a72), color-stop(50%,#cedce7), color-stop(100%,#596a72)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #596a72 0%,#cedce7 50%,#596a72 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #596a72 0%,#cedce7 50%,#596a72 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #596a72 0%,#cedce7 50%,#596a72 100%); /* IE10+ */
	background: linear-gradient(135deg,  #596a72 0%,#cedce7 50%,#596a72 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#596a72', endColorstr='#596a72',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */;
	height: 180px;
	margin-bottom: 5px;
	width: 100%;
}
/* ********* LOGO ********* */
header #logo{
	float: left;
	height: 100%;
	width: 25%;
}
/* ********* BARRA DE NAVEGACION ********* */
header nav{
	float: left;
	height: 30%;
	padding-top: 8px;
	position: relative;
	width: 75%;
}
h1{
	font-style: 'OSWALD';
	margin-left: 5%;
	text-shadow: 1px 1px 1px #161616;
	-webkit-text-shadow: 1px 1px 1px #161616;
	-moz-text-shadow: 1px 1px 1px #161616;
	-ms-text-shadow: 1px 1px 1px #161616;
	-o-text-shadow: 1px 1px 1px #161616;
}

/* ********* ANNUNCIANTES CABECERA ********* */
header #advertiser{
	float: left;
	height: 65%;	
	width: 70%;
}

header #zocial{
	/*background: black;*/
	position: absolute;
	width: 191px;
	height: 80px;
	top: 90px;
	left: 65px;
}
header #zocial img{
	border: 3px solid white;
	vertical-align: top;
	display: inline-block;
	height: 60px;
	width: 60px;
	margin-bottom: -30px;
	margin-top:10px;
	opacity: 0.4;
	cursor: pointer;
	-webkit-transition: all 250ms linear;
	-moz-transition: all 250ms linear;
	-o-transition: all 250ms linear;
	-ms-transition: all 250ms linear;
	transition: all 250ms linear;
}
header #zocial img:hover{
	opacity: 1;
}
/* ********* RADIO EN INTERNET ********* */
#radio{
	position: absolute;
	width: 100px;
	height: 78px;
	top: 20px;
	left: 80%;	
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	transition: all 200ms linear;
}
#radio:hover{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
/* .............................. CONTENIDO PRINCIPAL .............................. */

/* ******** CONTENIDO PRINCIPAL ******** */
body #content{
	height: 2315px; /* Alto del contenido */
	margin-bottom: 20px;
	width: 100%;	
}
	/* ++++++++ ADS IZQ Y DER ++++++++ */
	#content .ads{
		float: left;
		height: 100%;
		width: 10%;
	}
	#content #main{
		height: 100%;
		width: 80%;
		float: left;
	}
	/* ========= NOTICIA CENTRAL =========*/
		#main #central{
			height: 475px; /* Alto de la noticia central */
			margin-left: 0.5%;
			width: 99%;
		}
		#main #news{
			height: 1785px; /* Alto del todas las noticias */
			margin-top: 20px;
			width: 100%;
		}
			/* @@@@@@ NOTICIA CENTRAL  @@@@@@ */
			#news #posts, #news #publications{
				height: 100%;
				float: left;
				width: 50%;
			}
			#news #posts{
				/*background: white;*/
			}
			#news #publications{
			}
/* .......................... CONTENIDO MULTIMEDIA Y NOTICIAS CORTAS ........................ */

/* ******** GALERIAS DE FOTOS, VIDEOS Y NOTICIAS CORTAS ******** */
body #multimedia{
	height: auto;
	width: 100%;
}
	/* ++++++++ GALERIAS MULTIMEDIA ++++++++ */
	#multimedia .media{
		height: 294px;
		position: relative;
		width: 100%;
	}
	/* ++++++++ NOTICIAS CORTAS ++++++++ */
	#multimedia #shorts{
		background: white;
		height: 200px;
		width: 100%;
	}

/* ....................................... PIE DE PAGINA  ................................... */

footer{
	background-image: url(../images/patterns/footer.jpg);
	float: left;
	width: 100%;
	margin-top: 20px;
	height: 115px;
}
/* ******** GALERIAS DE FOTOS, VIDEOS Y NOTICIAS CORTAS ******** */
footer #sponsors{
	background: black;
	height: 70px;
	width: 100%;
}

footer ul{
	display: block;
	height: 40px;
	width: 950px;
	margin-left: auto;
	margin-right: auto;
}

footer ul li{
	border-radius: 10px;
	background: transparent;
	color: white;
	display: block;
	float: left;
	padding: 12px 12px;
}
