{% extends 'base.html' %}
{% block title %} MULTIMEDIA - Futbolmanía {% endblock %}

{% block style %}{% endblock %}

	{% block content %}
		<div id="central">		
			{% if posts %}
			<div id="priority-news">
				<div id="nav">
					<a href="#" id="lec" class="current">Lo M&aacute;s Reciente</a>
					<!--<a href="#" id="rec">Mas Leido</a>-->
				</div>
				{% for p in posts %}
					{% ifequal forloop.counter 2 %}
					<a href="/post/{{ p.id }}/darken">
						<article>
							<span class="category">{{ p.categoria }}</span>
							<span class="title">{{ p.titulo }}</span>
							<img src="/media/{{ p.imagen }}" />
							<p>{{ p.contenido|safe|truncatechars:100 }}</p>
						</article>
					</a>
					{% endifequal %}
					{% ifequal forloop.counter 3 %}
					<a href="/post/{{ p.id }}/darken">
						<article>
							<span class="category">{{ p.categoria }}</span>
							<span class="title">{{ p.titulo }}</span>
							<img src="/media/{{ p.imagen }}" />
							<p>{{ p.contenido|safe|truncatechars:100 }}</p>
						</article>
					</a>
					{% endifequal %}
					{% ifequal forloop.counter 4 %}
					<a href="/post/{{ p.id }}/darken">
						<article>
							<span class="category">{{ p.categoria }}</span>
							<span class="title">{{ p.titulo }}</span>
							<img src="/media/{{ p.imagen }}" />
							<p>{{ p.contenido|safe|truncatechars:100 }}</p>
						</article>
					</a>
					{% endifequal %}					
				{% endfor %}
			</div>
			
			<!-- ********* NOTICIA CENTRAL, CON IMAGEN Y DESCRICION ********* -->
			<div id="main-new">
				{% for p in posts %}
					{% ifequal forloop.counter 1 %}
					<a href="/post/{{ p.id }}/darken">
						<figure>
							<img src="/media/{{ p.imagen }}" />
							<figcaption>
								<span class="category">{{ p.categoria }}</span>
								<span class="title">{{ p.titulo }}</span>
								<p>{{ p.contenido|safe|truncatechars:12 }}</p>
							</figcaption>
						</figure>
					</a>
					{% endifequal %}					
				{% endfor %}
			</div>
			{% else %}
				<h4>No existen publicaciones</h4>
			{% endif %}
			<!-- ********* LO MAS LEIDO Y LO MAS RECIENTE ********* -->
			
			<!-- ********* EQUIPOS ********* -->
			<div id="teams">
				<span>Equipos</span>
				<ul id="nav-teams">
					<a href=""><li><img src="/media/images/escudos/aurora.png" /><span>Bolivar</span></li></a>
					<a href=""><li><img src="/media/images/escudos/blooming.png" /><span>Strongest</span></li></a>
					<a href=""><li><img src="/media/images/escudos/bolivar.png" /><span>Aurora</span></li></a>
					<a href=""><li><img src="/media/images/escudos/wilstermann.png" /><span>Wilsterman</span></li></a>
					<a href=""><li><img src="/media/images/escudos/guabira.png" /><span>Oriente petrolero</span></li></a>
					<a href=""><li><img src="/media/images/escudos/nacionalpotosi.png" /><span>Real Potosi</span></li></a>
					<a href=""><li><img src="/media/images/escudos/universitario.png" /><span>Petrolero</span></li></a>
					<a href=""><li><img src="/media/images/escudos/sanjose.png" /><span>Nacional Potosí</span></li></a>
					<a href=""><li><img src="/media/images/escudos/realpotosi.png" /><span>La Paz F.C.</span></li></a>
					<a href=""><li><img src="/media/images/escudos/petrolero.png" /><span>San Jose</span></li></a>
					<a href=""><li><img src="/media/images/escudos/orientepetrolero.png" /><span>Universitario</span></li></a>
					<a href=""><li><img src="/media/images/escudos/lapazfc.png" /><span>Real Guabirá</span></li></a>
				</ul>
			</div>
		</div>

		<!-- ********* CONTENIDO|safe|truncatechars PRINCIPAL DE LAS NOTICIAS ********* -->
		<h1>{{tit}}</h1>
		<div class="lpfb">
			<section>
				<article>
					<div id="tit-art">Articulo 1</div>
					<div class="datos">
						<img id="img-op" class="img-op" src="/media/images/avatar.jpg" alt="" width="103" height="95">
						<div id="fecha">
							<span id="anio">2013</span>
							<span id="mes">03</span>
							<span id="dia">12</span>
						</div>
					</div>
					<div class="opin">
						<div class="autor"><span>Autor: </span>Hernan Rengel</div>
						<div class="tema"><span>Tópico: </span>Seleccion Boliviana</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, architecto, 
						repellendus, sunt laborum debitis earum neque maiores fugit at similique 
						ratione repudiandae repellat porro enim accusamus voluptate qui corporis. 
						Minima.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, architecto, 
						repellendus, sunt laborum debitis earum neque maiores fugit at similique 
						ratione repudiandae repellat porro enim accusamus voluptate qui corporis. 
						Minima.</p>
					</div>
				</article>
				<article>
					<div id="tit-art">Articulo 1</div>
					<div class="datos">
						<img id="img-op" class="img-op" src="/media/images/avatar.jpg" alt="" width="103" height="95">
						<div id="fecha">
							<span id="anio">2013</span>
							<span id="mes">03</span>
							<span id="dia">12</span>
						</div>
					</div>
					<div class="opin">
						<div class="autor"><span>Autor: </span>Hernan Rengel</div>
						<div class="tema"><span>Tópico: </span>Seleccion Boliviana</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, architecto, 
						repellendus, sunt laborum debitis earum neque maiores fugit at similique 
						ratione repudiandae repellat porro enim accusamus voluptate qui corporis. 
						Minima.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, architecto, 
						repellendus, sunt laborum debitis earum neque maiores fugit at similique 
						ratione repudiandae repellat porro enim accusamus voluptate qui corporis. 
						Minima.</p>
					</div>
				</article>
				<article>
					<div id="tit-art">Articulo 1</div>
					<div class="datos">
						<img id="img-op" class="img-op" src="/media/images/avatar.jpg" alt="" width="103" height="95">
						<div id="fecha">
							<span id="anio">2013</span>
							<span id="mes">03</span>
							<span id="dia">12</span>
						</div>
					</div>
					<div class="opin">
						<div class="autor"><span>Autor: </span>Hernan Rengel</div>
						<div class="tema"><span>Tópico: </span>Seleccion Boliviana</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, architecto, 
						repellendus, sunt laborum debitis earum neque maiores fugit at similique 
						ratione repudiandae repellat porro enim accusamus voluptate qui corporis. 
						Minima.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, architecto, 
						repellendus, sunt laborum debitis earum neque maiores fugit at similique 
						ratione repudiandae repellat porro enim accusamus voluptate qui corporis. 
						Minima.</p>
					</div>
				</article>
				<article>
					<div id="tit-art">Articulo 1</div>
					<div class="datos">
						<img id="img-op" class="img-op" src="/media/images/avatar.jpg" alt="" width="103" height="95">
						<div id="fecha">
							<span id="anio">2013</span>
							<span id="mes">03</span>
							<span id="dia">12</span>
						</div>
					</div>
					<div class="opin">
						<div class="autor"><span>Autor: </span>Hernan Rengel</div>
						<div class="tema"><span>Tópico: </span>Seleccion Boliviana</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, architecto, 
						repellendus, sunt laborum debitis earum neque maiores fugit at similique 
						ratione repudiandae repellat porro enim accusamus voluptate qui corporis. 
						Minima.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, architecto, 
						repellendus, sunt laborum debitis earum neque maiores fugit at similique 
						ratione repudiandae repellat porro enim accusamus voluptate qui corporis. 
						Minima.</p>
					</div>
				</article>
			</section>			
		</div>
	{% endblock %}
	
</section>	
<!-- .......................... CONTENIDO|safe|truncatechars MULTIMEDIA Y NOTICIAS CORTAS ........................ -->
{% block multimedia %}
	<section id="multimedia"  class="gallery clearfix">
		<article class="main-title mtlarge">
			<span class="izq" id="botonprueba">Fotos de la semana</span>
			<span class="der"></span>
		</article>
		<article class="media">
			<ul id="semana" >
				{% if semana %}
					{% for s in semana %}
					<li>
						<a href="/media/{{ s.imagen }}" rel="prettyPhoto[gallery2]">
							<img src="/media/{{ s.imagen }}" />
							<span class="title">{{ s.titulo }}</span>
							<span class="desc">{{ s.descripcion }}</span>
						</a>
					</li>
					{% endfor %}
				{% else %}
					<h3>No tienes ninguna foto de semana</h3>
				{% endif %}
			</ul>
			<a href="" class="prev"></a>
			<a href="" class="next"></a>
		</article>
		
		<!--<article id="shorts">
			<h3>Aca Van las noticias Cortas</h3>
		</article>
		-->
		<article class="main-title mtlarge">
			<span class="izq">Diosas</span>
			<span class="der"></span>
		</article>

		<article class="media">
			<ul id="chicas">
				{% if chicas %}
					{% for c in chicas %}
					<li>
						<a href="/media/{{ c.imagen }}" rel="prettyPhoto[gallery1]">							
							<img src="/media/{{ c.imagen }}" />
							<span class="title">{{ c.titulo }}</span>
							<span class="desc">{{ c.descripcion }}</span>
						</a>
					</li>
					{% endfor %}
				{% else %}
					<h3>No tienes ninguna foto de chicas</h3>
				{% endif %}
			</ul>
			<a href="#" class="prev"></a>
			<a href="#" class="next"></a>
		</article>
		<article class="sponsors"></article>
	</section>
{% endblock %}

